In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('D:/ML/kgl/act_train.csv', sep = ',')

In [38]:
df_subset = df[0:3][[0,1,2,3]]

In [39]:
df_subset.to_csv('Z:/convet_to_json.csv', sep = ',')

In [46]:
df_subset[0:3]

  people_id   activity_id        date activity_category
0   ppl_100  act2_1734928  2023-08-26            type 4
1   ppl_100  act2_2434093  2022-09-27            type 2
2   ppl_100  act2_3404049  2022-09-27            type 2

In [56]:
a = df_subset
a.to_dict('records')

[{'activity_category': 'type 4',
  'activity_id': 'act2_1734928',
  'date': '2023-08-26',
  'people_id': 'ppl_100'},
 {'activity_category': 'type 2',
  'activity_id': 'act2_2434093',
  'date': '2022-09-27',
  'people_id': 'ppl_100'},
 {'activity_category': 'type 2',
  'activity_id': 'act2_3404049',
  'date': '2022-09-27',
  'people_id': 'ppl_100'}]

In [58]:
b = df.to_dict('records')

In [60]:
from pymongo import MongoClient
client = MongoClient()
client = MongoClient('localhost', 27017)
db = client.test_database
collection = db.test_collection

In [62]:
db.collection.insert_many(b)