In [16]:
def prob(n, N, m, sum_m, V, lamb = 0.1, K = 2, a = 10):
    first_term = (n+a)/float(N-1 + K*a)
    second_term = (m + lamb)/float(sum_m + V * lamb)
    return(first_term*second_term)

In [19]:
print prob(n = 3, N = 5, m = 20, sum_m = 123, V = 365)

print prob(n = 1, N = 5, m = 36, sum_m = 241, V = 365)

0.0682601880878
0.0596246246246

In [1]:
import pandas as pd

In [3]:
dat = pd.read_csv('D:/ML/kgl/act_train.csv', sep = ',')

In [6]:
len(dat['date'])

2197291

In [8]:
sub_data = dat[1:10]
sub_data

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
5,ppl_100,act2_898576,2023-08-04,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0
6,ppl_100002,act2_1233489,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
7,ppl_100002,act2_1623405,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
8,ppl_100003,act2_1111598,2023-02-07,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
9,ppl_100003,act2_1177453,2023-06-28,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1

In [10]:
sub_data.to_json('D:/tes.json')

In [10]:
pd.read_excel?

In [5]:
dat_xl = pd.read_excel('Z:/act_train.xlsx')

In [6]:
import graphlab

In [9]:
sf = graphlab.SFrame('Z:/act_train.xlsx')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\user\AppData\Local\Temp\graphlab_server_1474269695.log.0

This non-commercial license of GraphLab Create for academic use is assigned to hamzafar_89@yahoo.com and will expire on August 11, 2017.

RuntimeError: Runtime Exception. Unable to parse frame index file Z:\act_train.xlsx