In [2]:
list_i = []
list_j = []
for i in range(1,10):
    list_i.append(i)
for j in range(11,20):
    list_j.append(j)

In [3]:
import pandas as pd

In [6]:
df = pd.DataFrame([list_i, list_j])

In [9]:
df

    0   1   2   3   4   5   6   7   8
0   1   2   3   4   5   6   7   8   9
1  11  12  13  14  15  16  17  18  19

In [13]:
df = pd.DataFrame(columns=['i', 'j', 'k'])
df

Empty DataFrame
Columns: [i, j, k]
Index: []

In [21]:
for i in range(1,10):
    df.loc[i] =  [i, i+10, i+20]

In [15]:
df

     i     j     k
1  1.0  11.0  21.0
2  2.0  12.0  22.0
3  3.0  13.0  23.0
4  4.0  14.0  24.0
5  5.0  15.0  25.0
6  6.0  16.0  26.0
7  7.0  17.0  27.0
8  8.0  18.0  28.0
9  9.0  19.0  29.0

In [19]:
df[df['i']==min(df['i'])]

     i     j     k
9  9.0  19.0  29.0